<!-- <section>
  <div id="quizbox" class="">
    <div id="subtitle" class="ssib">
      <h4 class="animated slideInRight">ackNack</configtxt></h4>
    </div>
    <div id="intro-text" class="animated slideInRight">
      
    </div>
  </div>
</section> -->

<!-- orange: rescuee -->
<!-- green: rescuer -->
<ion-view>
  <div id="not-connected" ng-show="!vm.pushConnected">Connecting...</div>
  <div id="connected" ng-show="vm.pushConnected">
    <p>Connected.</p>
    <p>ID:{{vm.deviceId}}</p>
    <div id="role-buttons">
      <button ion-button round ng-class="{'button-positive': vm.isRescuer===true}" ng-click="vm.setRescuer(true);">Rescuer</button>
      <button ion-button round ng-class="{'button-positive': vm.isRescuee===true}" ng-click="vm.setRescuee(true);">Rescuee</button>
    </div>
  </div>
  <div style="padding:16px;">
    <div ng-show="vm.isRescuer">
      <h3>Rescuer</h3>
      <qrcode version="{{5}}" error-correction-level="{{M}}" x-size="{{size}}" data="{{vm.deviceId}}" x-color="{{color}}" x-background="{{background}}" download="false" ></qrcode>
    </div>
    <div ng-show="vm.isRescuee">
      <h3>Rescuee</h3>
      <button ion-button round ng-click="vm.rescueeStartCodeScan()">Scan a Rescuer's QR Code</button>
    </div>
  </div>
</ion-view>
